:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
    }
  }
.brand-logo img{
  height:"50%" ;
  width:"50%" 
}
  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }
}
